<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="punchy" type="Punchy.Configuration.PunchyConfigurationSection,Punchy"/>
  </configSections>

  <punchy outputpath="~/static/cache">
    <toolchains>
      <toolchain name="CssToolchain" mimetype="text/css">
        <add type="Punchy.Plugin.DotLessCss.LessCssProcessor,Punchy.Plugin.DotLessCss"/>
        <!--add type="Punchy.Plugin.MicrosoftAjaxMinifier.MinifierProcessor,Punchy.Plugin.MicrosoftAjaxMinifier"/-->
      </toolchain>

      <toolchain name="JavascriptToolchain" mimetype="text/javascript">
        <add type="Punchy.Plugin.GoogleClosure.ClosureProcessor,Punchy.Plugin.GoogleClosure"/>
      </toolchain>
    </toolchains>

    <bundles>
      <bundle outfile="app-min.js">
        <files>
          <add path="../../../Punchy.Tests/testfiles/app.js"/>
        </files>
      </bundle>

      <bundle outfile="css-min.css">
        <files>
          <add path="../../../Punchy.Tests/testfiles/reset.css"/>
          <add path="../../../Punchy.Tests/testfiles/site.less"/>
          <add path="../../../Punchy.Tests/testfiles/printer.css"/>
        </files>
      </bundle>
    </bundles>
</punchy>
</configuration>