<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="punchy" type="Punchy.Configuration.PunchyConfigurationSection,Punchy"/>
  </configSections>

  <punchy outputpath="~/static/cache">
    <toolchains>
      <toolchain for="text/css">
        <add type="Punchy.Plugin.DotLessCss.LessCssProcessor,Punchy.Plugin.DotLessCss"/>
        <add type="Punchy.Plugin.MicrosoftAjaxMinifier.MinifierProcessor,Punchy.Plugin.MicrosoftAjaxMinifier"/>
      </toolchain>

      <toolchain for="text/javascript">
        <add type="Punchy.Plugin.GoogleClosure.ClosureProcesssor,Punchy.Plugin.GoogleClosure"/>
      </toolchain>
    </toolchains>

    <bundles>
      <bundle outfile="app-min.js" toolchain="">
        <files>
          <add tools="DotLessCss" path="../../testfiles/jquery-1.4.2.js"/>
          <add path="../../testfiles/app.js"/>
        </files>
      </bundle>

      <bundle outfile="css-min.css">
        <files>
          <add path="../../testfiles/reset.css"/>
          <add path="../../testfiles/site.less"/>
          <add path="../../testfiles/printer.css"/>
        </files>
      </bundle>
    </bundles>
</punchy>
</configuration>