<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="punchy" type="Punchy.Configuration.PunchyConfigurationSection,Punchy"/>
  </configSections>

  <punchy outputfolder="~/static/cache">
    <processors>
      <add name="DotLessCss" type="Punchy.Plugin.DotLessCss.LessCssProcessor,Punchy.Plugin.DotLessCss"/>
      <add name="Compressor" type="Punchy.Plugin.MicrosoftAjaxMinifier.MinifierProcessor,Punchy.Plugin.MicrosoftAjaxMinifier"/>
    </processors>

    <bundles>
      <bundle outfile="app-min.js">
        <files>
          <add path="testfiles/jquery-1.4.2.js"/>
          <add path="testfiles/app.js"/>
        </files>
      </bundle>

      <bundle outfile="css-min.css">
        <files>
          <add path="testfiles/reset.css"/>
          <add path="testfiles/site.less"/>
          <add path="testfiles/printer.css"/>
        </files>
      </bundle>
    </bundles>
</punchy>
</configuration>