<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="punchy" type="Punchy.Configuration.PunchyConfigurationSection,Punchy"/>
  </configSections>

  <punchy outputpath="~/Content/cache">
    <toolchains>
      <toolchain name="CssToolchain" mimetype="text/css">
        <add type="Punchy.Plugin.DotLessCss.LessCssProcessor,Punchy.Plugin.DotLessCss"/>
        <add type="Punchy.Plugin.YahooYuiCompressor.YuiProcessor,Punchy.Plugin.YahooYuiCompressor"/>
      </toolchain>

      <toolchain name="JavascriptToolchain" mimetype="text/javascript">
        <add type="Punchy.Plugin.YahooYuiCompressor.YuiProcessor,Punchy.Plugin.YahooYuiCompressor"/>
      </toolchain>
    </toolchains>

    <bundles>
      <bundle outfile="jq.js">
        <files>
          <add path="~/Scripts/jquery-1.4.1.js"/>
          <add path="~/Content/app.js"/>
        </files>
      </bundle>

      <bundle outfile="css-min.css">
        <files>
          <add path="~/Content/reset.css"/>
          <add path="~/Content/site.less"/>
        </files>
      </bundle>
    </bundles>
  </punchy>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Punchy"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

